.board {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.column {
    background-color: #f4f5f7;
    border-radius: 3px;
    width: 30%;
    padding: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.task {
    padding: 8px;
    margin-bottom: 8px;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;

}