@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.root {
  background: radial-gradient(rgb(1, 1, 59), black);
}

audio::-webkit-media-controls-panel {
  background-color: transparent !important;
  margin: 0 !important;
}

/* Additional selectors to increase specificity */
audio::-webkit-media-controls-panel,
audio::-webkit-media-controls-panel * {
  background-color: transparent !important;
  margin: 0 !important;
}


.card {
  background-color: #ffffff1b;
}

@keyframes rotate {
  100% {
    rotate: 360deg;
  }
}

.rotate {
  animation: rotate 8s infinite linear;
}